<div class='home-page'>
  <h1>Smart Budget</h1>
  <div class= 'links-buttons'>
    <%= button_to "LOG IN", new_user_session_path, method: :get, class: 'btn btn-primary link-btn' %>
    <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: 'btn btn-light link-btn'%>
  </div>
</div>

